*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    margin: 0;
}

h1 {
    color: black;
    font-family: Verdana;
    font-size: 300%;
}

h2 {
    text-transform: capitalize;
    font-size: 180%;
}

h3 {
    font-size: 180%;
}

ul {
    display: inline;
    list-style: circle;

}

#styledimg {
    background-image: url(images/chickenAlfredoTwo.jpeg);
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
 }
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    
}

.ingredients{
     width: 40%;
    float: left;
    
}
.instructions{
     width: 40%;
    float: right;
   
} 
.link-01{
    color: blue;
    text-decoration: none;
}
.link-01:hover{
    color: red;
    text-decoration: underline;
}
.footer{
    justify-content: center;
    padding: 50px;
    margin: 0;
    background-color: aliceblue;
}


.vl {
    border-left: 6px solid black;
    height: 750px;
    position: absolute;
    left: 53%;
    margin-left: -3px;
    top: 10;
  }
  