*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    margin: 0;
}

h1 {
    color: black;
    font-family: Verdana;
    font-size: 300%;
}

h2 {
    text-transform: capitalize;
    font-size: 180%;
}

h3 {
    font-size: 180%;
}

ul {
    display: inline;
    list-style: circle;

}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    
}

.ingredients{
     width: 40%;
    float: left;
    
}
.instructions{
     width: 40%;
    float: right;
   
} 
.link-01{
    color: blue;
    text-decoration: none;
}
.link-01:hover{
    color: red;
    text-decoration: underline;
}


.vl {
    border-left: 6px solid black;
    height: 750px;
    position: absolute;
    left: 53%;
    margin-left: -3px;
    top: 10;
  }

  .space {
    display: none;
  }

  /*Mobile responsiveness*/

  @media only screen and (max-width: 768px) { 

    *{
        margin: 0%;
        padding: 0;
        box-sizing: border-box;
    }

    .vl {
        display: none;
    }

    .ingredients{
        width: 100%;
       float: left;
       
   }
   .instructions{
        width: 100%;
       float: left;
      
   } 
   .space {
    display: inline;
   }

   
   @media only screen and (max-width: 400px) { 

    *{
        margin: 0%;
        padding: 0;
        box-sizing: border-box;
    }

    .vl {
        display: none;
    }

    .ingredients{
        width: 100%;
       float: left;
       
   }
   .instructions{
        width: 100%;
       float: left;
      
   } 
   .space {
    display: inline;
   }
    
    }

}